.garden-container {
    padding: 20px 40px; /* Space from the top and sides */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the search bar */
.search-container {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px; /* Space between search bar and lists */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}

.search-container button {
    background-color: #32a852; /* Adjust color as needed */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #289740; /* Darker color on hover */
}

/* Grid container for the lists */
.lists-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 5 columns of equal width */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

/* Individual list item styles */
.list-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-item button {
    display: block;
    margin: 10px auto 0;
    background-color: #32a852;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-item button:hover {
    background-color: #289740;
}

h2 {
    text-align: center;
}

.list-item a {
    margin-bottom: 10px;
    color: #32a852; /* Green text color */
    text-decoration: none; /* Removes underline */
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold; /* Makes the text bold */
}

.list-item a:hover {
    cursor: pointer; /* Changes the cursor to a hand to indicate it's clickable */
}

/* If you want to change the color of visited links as well */
.list-item a:visited {
    color: #32a852; /* Keeps the color green even after the link is clicked */
}

.list-image {
    width: 100%; /* or whatever width you prefer */
    height: auto; /* maintain aspect ratio */
    border-radius: 5px; /* optional, for rounded corners */
    margin-bottom: 10px; /* space between image and text */
}

